<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Criptoverse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="!isDataLoaded" class="container-loader d-flex align-items-center justify-content-center">
    <span class="loader"></span>
  </div>

  <div class="container-crypto-list">
    <div class="container-title d-flex flex-column align-items-start mt-5">
      <h2>Cryptocurrencies</h2>
    </div>
    <div class="container-search" [formGroup]="userForm">
      <ion-searchbar placeholder="Search crypto..." formControlName="searchWord"></ion-searchbar>
    </div>
    <div class="container-crypt mt-5 mb-5">
      <div class="container-cryptos d-flex align-items-center justify-content-between mt-4"
        *ngFor="let crypto of filteredCrypto" (click)="openDialog(crypto)">
        <div class="left d-flex align-items-center">
          <div class="logo">
            <img [src]="crypto.iconUrl" alt="">
          </div>
          <p class="crypto-name">{{crypto.name}}</p>
        </div>
        <div class="right">
          <p class="price">{{crypto.price | currency}}</p>
          <p class="exchange" [ngStyle]="{'color': crypto.change.includes('-') ? 'red' : 'green' }">{{crypto.change}}%
          </p>
        </div>
      </div>
    </div>
  </div>

  <ion-modal [isOpen]="isCryptoDetailOpened" (willDismiss)="onWillDismiss($event)" [breakpoints]="[0.9]" [initialBreakpoint]="0.9">
    <ng-template>
      <ion-content class="ion-padding">
        <div class="container-modal-details">
          <div class="top">
            <div class="container-cryptos-modal d-flex align-items-center justify-content-between mt-4">
              <div class="left d-flex align-items-center">
                <div class="logo">
                  <img [src]="currentCrypto.iconUrl" alt="">
                </div>
                <p class="crypto-name">{{currentCrypto.name}}</p>
              </div>
              <div class="right">
                <p class="price">{{currentCrypto.price | currency}}</p>
                <p class="exchange" [ngStyle]="{'color': currentCrypto.change.includes('-') ? 'red' : 'green' }">
                  {{currentCrypto.change}}%</p>
              </div>
            </div>
          </div>
          <div class="line mt-4 mb-4"></div>
          <div class="details-modal d-flex align-items-center justify-content-between">
            <div class="detail">
              <p class="title-detail">Market Cup</p>
              <p>{{currentCrypto.marketCap | currency:'USD':'symbol':'4.2-2'}}</p>
            </div>
            <div class="detail">
              <p class="title-detail">Number Of Exchanges</p>
              <p>{{currentCrypto.numberOfExchanges}}</p>
            </div>
            <div class="detail">
              <p class="title-detail">Number Of Markets</p>
              <p>{{currentCrypto.numberOfMarkets}}</p>
            </div>
          </div>
          <div class="chart-container">
            <app-chart [dataForChart]="currentCrypto.sparkline"></app-chart>
          </div>
          <h3 class="description-title">What is {{currentCrypto.name}}?</h3>
          <div class="description-of-crypto" [innerHTML]="currentCrypto.description">
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
