.container-home {
  .container-title {
    padding: 0 20px;
    h2 {
      margin-top: 0px!important;
    }
  }
  .container-chart {
    max-width: 96%;
    height: 100px;
  }
}

.container-card-title {
  padding: 10px;
  p {
    color: #ffff;
  }
}
.container-slide {
  ion-card {
    width: 250px!important;
  }
  ion-card-content {
    background-color: #FFFFFF;
  }
  .container-description {
    .container-image {
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      img {
        width: 100%;
      }
    }
  }
  .info {
    padding: 0 10px;
    p {
      margin: 0px;
    }
  }

  .daily {
    font-size: 12px;
  }

  .price {
    font-size: 20px;
  }
}

.container-top {
  padding: 0 20px;
  .container-cryptos {
    .logo {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      img {
        width: 100%;
      }
    }
    p {
      margin: 0;
    }
    .right {
      text-align: end;
    }
  }
}

.container-price-card {
  text-align: start;
  .price {
     color: #252528;
  }
}


// loader
.container-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #252528;
  z-index: 99999;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
